.Button{
  background-color: green;
  font: inherit;
  border: 1px solid blue;
  color: white;
  hover: pointer;

}

 .Button:hover{

  background-color: lightgreen;
  color:black;
}


 .Button.Red{
  background-color: red;
  color: white;
}

 .Button.Red:hover{
  background-color: salmon;
  color: white;
}
